<section class="md:scroll-mt-16 flex flex-col gap-9 -mt-4" id="about">
  <div>
    <h1 class="text-text-light text-3xl font-bold underline decoration-primary">
      Acerca de mi
    </h1>
    <p class="text-lg">
      Como me adentr칠 al mundo del desarrollo y mis planes de futuro. 游녢
    </p>
  </div>

  <div class="space-y-6">
    <p>
      A los 16 a침os, mientras cursaba el instituto, una chispa de aburrimiento encendi칩 mi curiosidad y me impuls칩 a aventurarme en el fascinante mundo del desarrollo web. En busca de algo nuevo, decid칤 sumergirme en el aprendizaje y desarrollo, marcando as칤 el inicio de mi viaje en este apasionante sector. Lo que comenz칩 como una manera de romper la monoton칤a se convirti칩 r치pidamente en una pasi칩n por crear, aprender y crecer en el universo del desarrollo web.
    </p>

    <p>
      Mi ambici칩n y curiosidad me han llevado a poder aprender las tecnolog칤as con las que hoy en dia desarrollo, en paralelo con cursar un grado superior de desarrollo de aplicaciones web donde tambi칠n he cultivado habilidades colaborativas entre otras. Siempre he sido una persona inquieta que disfruta creando, aprendiendo y mejorando de manera autodidacta.
    </p>

    <p>
      Mi visi칩n va m치s all치 de mi propia carrera; estoy comprometido con contribuir al futuro del desarrollo, donde la colaboraci칩n, la sostenibilidad y la accesibilidad son pilares fundamentales. Veo la colaboraci칩n como la fuerza impulsora detr치s de la innovaci칩n, la capacidad de trabajar codo a codo con colegas y comunidades para crear soluciones m치s impactantes y s칩lidas.
    </p>

    <p>
      Estoy emocionado por las oportunidades que el futuro del desarrollo nos presenta y estoy ansioso por ser parte de 칠l.
    </p>
  </div>
</section>
