---
import ExperienceCard from "./ExperienceCard.astro";
---

<section class="md:scroll-mt-16 flex flex-col gap-9" id="experience">
  <div>
    <h1 class="text-text-light text-3xl font-bold underline decoration-primary">
      Mi experienca en el mundo tech
    </h1>
    <p class="text-lg">
      El paso por los diferentes proyectos y mi papel en cada uno 
    </p>
  </div>

  <div class="flex flex-col group/list">
    <ExperienceCard
      href="https://www.papelaweb.com/"
      date="JUN 2023 - ACTUALIDAD"
      title="Desarrollador Fullstack (React.js & Node.js) @ Papel A Web"
      body="En este puesto, nuevamente desarrollo aplicaciones web de manera aut贸noma. Mi d铆a a d铆a consiste en analizar las necesidades del cliente/empresa y desarrollar una soluci贸n t茅cnica adaptada, abarcando todo el proceso: dise帽o de la base de datos, desarrollo del backend y desarrollo del frontend. Esta experiencia me ha brindado la oportunidad de enfrentar desaf铆os constantes y aprender de manera continua."
    />
    <ExperienceCard
      href="https://comanet.es/"
      date="MAR 2023 - JUN 2023"
      title="Desarrollador Fullstack (VUE & .NET) @ Comanet"
      body="En Comanet, desempe帽茅 el rol de desarrollador fullstack. Fue un nuevo desaf铆o, ya que me enfrent茅 a un stack tecnol贸gico que desconoc铆a, con tecnolog铆as como Vue y .NET. Despu茅s de apenas unas semanas, logr茅 dominar ambas tecnolog铆as y comenc茅 a trabajar de manera aut贸noma en el desarrollo de una webapp destinada a eventos de carreras. Esta aplicaci贸n abarcaba diversas funcionalidades, como la gesti贸n de inscripciones, pagos y participantes, entre otras. Mi experiencia en Comanet no solo me permiti贸 adquirir nuevas habilidades, sino tambi茅n desarrollar la capacidad de adaptarme r谩pidamente a entornos tecnol贸gicos cambiantes."
    />
    <ExperienceCard
      date="DIC 2022 - MAR 2023"
      title="Desarrollador Fullstack Freelance"
      body="Mi primera experiencia tanto laboral como freelance. Estuve desarrollando soluci贸nes tecnicas para distintos clientes, desde una web para el seguimiento de pedidos, hasta una REST API para una aplicaci贸n de inversi贸nes con integraci贸n de distintos m茅todos de pago. Durante esta etapa pude poner en pr谩ctica mis conocimientos de desarrollo web, y aprender a trabajar con clientes, analizando sus necesidades y ofreciendo soluciones adaptadas."
      isLast
    />
  </div>
</section>
