---
import { useTranslations } from "../../i18n/utils";
import ExperienceCard from "./ExperienceCard.astro";
const t = useTranslations(Astro);
---

<section class="md:scroll-mt-16 flex flex-col gap-9" id="experience">
  <div>
    <h1 class="text-text-light text-3xl font-bold underline decoration-primary">
      {t("Experience")}
    </h1>
    <p class="text-lg">
      {t("ExperienceSubtitle")}
    </p>
  </div>

  <div class="flex flex-col group/list">
    <ExperienceCard
      href="https://www.papelaweb.com/"
      date={t("ExperienceDate1")}
      title={t("ExperienceTitle1")}
      body={t("ExperienceBody1")}
    />
    <ExperienceCard
      href="https://comanet.es/"
      date={t("ExperienceDate2")}
      title={t("ExperienceTitle2")}
      body={t("ExperienceBody2")}
    />
    <ExperienceCard
      date={t("ExperienceDate3")}
      title={t("ExperienceTitle3")}
      body={t("ExperienceBody3")}
      isLast
    />
  </div>
</section>
