---
import { useTranslations } from "../../i18n/utils";
import LinkItem from "./LinkItem.astro";
const t = useTranslations(Astro);
---

<footer class="-mt-14">
  <hr class="border-border-light" />

  <div class="mt-8">
    <p class="flex flex-wrap gap-x-1.5">
      {t("WebBuild")} <LinkItem href="https://astro.build/" text="Astro" /> {t("And")}


      <LinkItem href="https://tailwindcss.com/" text="TailwindCSS." />
       {t("Deployed")} <LinkItem text="Vercel" href="https://vercel.com" />
    </p>
  </div>
</footer>
