---
import LinkItem from "./LinkItem.astro";
---

<footer class="-mt-14">
  <hr class="border-border-light" />

  <div class="mt-8">
    <p class="flex">
      Web construida con <LinkItem href="https://astro.build/" text="Astro" /> y

      <LinkItem href="https://tailwindcss.com/" text="TailwindCSS" />.
      Desplegada en <LinkItem text="Vercel" href="https://vercel.com" />
    </p>
  </div>
</footer>
