---
import ProjectItem from "./ProjectItem.astro";
---

<section id="projects" class="md:scroll-mt-16 flex flex-col gap-9">
  <div>
    <h1 class="text-text-light text-3xl font-bold underline decoration-primary">
      Mis proyectos personales
    </h1>
    <p class="text-lg">Algunos de los que he podido acabar... 游뗷</p>
  </div>

  <div class="space-y-12 group/list">
    <ProjectItem
      title="Tech Blog"
      description="Mi blog de tecnolog칤a, donde escribo sobre temas que me interesan, como desarrollo web, programaci칩n, tecnolog칤a, etc. Esta construido con Next.js, TailwindCSS y Shadcn/ui. Para la gesti칩n de contenidos uso la API de Sanity.io que me permite crear un CMS headless y poder escribir mis art칤culos desde cualquier lugar."
      image="/projects/tech-blog.jpg"
      imageAlt="Tech Blog"
      href="https://tech-blog-five-umber.vercel.app/"
    />
    <ProjectItem
      title="Clon Airbnb"
      description="Un clon a detalle de la web Airbnb. Construido con Next.js sobre la versi칩n 13 (App dir) con p치ginas din치micas y otras est치ticas. La autenticaci칩n se hace a trav칠s de NextAuth.js conectada con una base de datos MongoDB"
      image="/projects/clon-airbnb.jpg"
      imageAlt="Clon Airbnb"
      href="https://airbnb-clone-five-lilac.vercel.app/"
    />
    <ProjectItem
      title="Clon Spotify"
      description="Un clon del famoso Spotify. Construido sobre Next.js 12 (Pages dir) y TailwindCSS. La autenticaci칩n, base de datos y almacenamiento de imagenes/canci칩nes se hace a trav칠s de Supabase"
      image="/projects/clon-spotify.jpg"
      imageAlt="Clon Spotify"
      href="https://spotifree-iota.vercel.app/"
    />
    <ProjectItem
      title="Rentacar"
      description="Web de alquiler de coches. Una web est치tica, sin mucha funcionalidad, pero con un dise침o muy cuidado. Construida con Next.js y TailwindCSS."
      image="/projects/rentacar.jpg"
      imageAlt="Rentacar"
      href="https://rentacar-nu.vercel.app/"
    />
  </div>
</section>
