---
import { useTranslations } from "../../i18n/utils";
import ProjectItem from "./ProjectItem.astro";
const t = useTranslations(Astro);
---

<section id="projects" class="md:scroll-mt-16 flex flex-col gap-9">
  <div>
    <h1 class="text-text-light text-3xl font-bold underline decoration-primary">
      {t("Projects")}
    </h1>
    <p class="text-lg">
      {t("ProjectsSubtitle")}
    </p>
  </div>

  <div class="space-y-12 group/list">
    <ProjectItem
      title={t("ProjectTitle1")}
      description={t("ProjectBody1")}
      image="/projects/tech-blog.jpg"
      imageAlt={t("ProjectTitle1")}
      href="https://tech-blog-five-umber.vercel.app/"
    />
    <ProjectItem
      title={t("ProjectTitle2")}
      description={t("ProjectBody2")}
      image="/projects/clon-airbnb.jpg"
      imageAlt={t("ProjectTitle2")}
      href="https://airbnb-clone-five-lilac.vercel.app/"
    />
    <ProjectItem
      title={t("ProjectTitle3")}
      description={t("ProjectBody3")}
      image="/projects/clon-spotify.jpg"
      imageAlt={t("ProjectTitle3")}
      href="https://spotifree-iota.vercel.app/"
    />
    <ProjectItem
      title={t("ProjectTitle4")}
      description={t("ProjectBody4")}
      image="/projects/rentacar.jpg"
      imageAlt={t("ProjectTitle4")}
      href="https://rentacar-nu.vercel.app/"
    />
  </div>
</section>
