---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/LandingPage/Header.astro";
import AboutMe from "../../components/LandingPage/AboutMe.astro";
import Experience from "../../components/LandingPage/Experience.astro";
import TechStack from "../../components/LandingPage/TechStack.astro";
import Projects from "../../components/LandingPage/Projects.astro";
import Footer from "../../components/LandingPage/Footer.astro";

export function getStaticPaths() {
  return [
    {params: {language: 'es'}},
    {params: {language: 'en'}},
    {params: {language: undefined}}
  ];
}
---

<Layout title="Daniel González Tormo">
  <div
    class="flex flex-col gap-24 sm:gap-36 selection:bg-primary/75 selection:text-white"
  >
    <Header />
    <AboutMe />
    <Experience />
    <TechStack />
    <Projects />
    <Footer />
  </div>
</Layout>
